html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow: hidden;
}

#scheduler_here {
	width: 100%;
	height: 100%;
}

.time-scale-wrap {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-end;
	height: 100%;
	font-size: 10px;
	padding-right: 5px;
}

.time-scale-full-hour {
	height: 18px;
	line-height: 18px;
	font-weight: bold;
}

.time-scale-quarter-hour {
	height: 18px;
	line-height: 18px;
	padding: 2px 0;
}